/**
 * Authors:   Matt McFarlane, Zach Post
 * Date:      9/10/2022
 * Course:    CS 4540, University of Utah, School of Computing
 * Copyright: CS 4540 and McFarlane/Post - This work may not be copied for use in Academic Coursework.
 *
 * I, Matt McFarlane, certify that I wrote this code from scratch and did not copy it in part or whole from
 * another source.  Any references used in the completion of the assignment are cited in my README file.
 * I, Zach Post, certify that I wrote this code from scratch and did not copy it in part or whole from
 * another source.  Any references used in the completion of the assignment are cited in my README file.
 *
 * File Contents
 *
 *    Styling for a few page elements that appear on the application submit form
 */

#jobapp_image {
}

.form_separator {
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
    display: flex;
    justify-content: center;
    border-width: 3px;
}

#help_button {
    width: 15px;
    height: 15px;
    position: relative;
    top: -2px;
}
#chkbox {
    padding-top: 1.8em;
    float:right;
}